@model ReviewCreateViewModel

<h3>Create your comic review right now: </h3>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title" class="form-control" />
    <span asp-validation-for="@Model.Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="@Model.Content"></label>
    <textarea name="editor1" asp-for="@Model.Content"></textarea>
    <span asp-validation-for="@Model.Content" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="@Model.Rating"></label>
    <input asp-for="@Model.Rating" class="form-control" />
    <span asp-validation-for="@Model.Rating" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Poster"></label>
    <p class="disclaimer">*Please note, that if you decide to upload a poster, it must be no bigger than 2MBs.*</p>
    <input asp-for="@Model.Poster" class="form-control" />
    <span asp-validation-for="@Model.Poster" class="text-danger"></span>
</div>