@model UserProfileViewModel
@{
    ViewData["Title"] = "View";
}

<h3 class="fontCustom">
    Hello,
    @if (Model.UserInfo.Gender.ToString() == "Female")
    {
        <span>Ms </span>
    }
    else
    {
        <span>Mr </span>
    }
    @Model.UserInfo.Name
</h3>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole(WebConstants.ProUserRole))
                {
                    <img src="~/images/proUser.jpg" class="proUserProfileBadge"/>
                }
                <img src="@Model.UserInfo.Avatar.ToImgSrc()" class="img-circle img-responsive" />
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Users" asp-action="ChangeAvatar">
                        <label for="name">Your avatar:</label>
                        <p class="disclaimer">*Please note, that if you decide to change your avatar, it must be no bigger than 2MBs. and be of type .jpg!*</p>
                        <input type="file" name="avatar" style="display: none" accept=".jpg" />
                        <button type="button" class="btn btn-default" onclick="document.getElementsByName('avatar')[0].click()">Choose your file!</button>

                        <button type="submit" class="btn btn-info btn-default">Change Avatar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-12 bigText fontCustom">
                Your views under the username<span class="usernameCustom"> @Model.UserInfo.UserName</span> are:
            </div>

            <div class="col-md-6 bigText">
                <p>@Model.ComicViewsTotal comic views</p>
                <p>@Model.MovieViewsTotal movie views</p>
                <p>@Model.BookViewsTotal book views</p>
            </div>

            <div class="col-md-6 bigText">
                <p>TOTAL Views: @(Model.ComicViewsTotal + Model.BookViewsTotal + Model.MovieViewsTotal)</p>
            </div>

            <div class="col-md-12">
                @if (!User.IsInRole(WebConstants.ProUserRole))
                {
                    <div class="bigText">
                        Collect more than 2500 views to become <span class="usernameCustom">ProUser!</span> ProUsers have a special badge in the menu. Once you collect that many view, you will automatically become one!
                    </div>
                }
                else
                {
                    <div class="bigText">
                        Thank you for being so active here! Your fans need you. This is your first badge of honour. More coming soon.
                        <img src="~/images/proUser.jpg" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

