@model ComicCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">

            @Html.Partial("_CreateReviewPartial", Model)



            <div class="form-group">
                <label asp-for="@Model.Writer"></label>
                <input asp-for="@Model.Writer" class="form-control" />
                <span asp-validation-for="@Model.Writer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Price"></label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ReleaseDate"></label>
                <input asp-for="@Model.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Publish review!</button>
        </form>
    </div>
</div>

<script>
    CKEDITOR.replace('Content');
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

